.search-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 2rem;
    padding: 5rem;
}

.search-container button {
	height: 3rem;
	width: 3rem;
	background-color: #373d3f;
	font-size: 1.1rem;
	border: none;
	border-left: 1px solid #999;
	outline: none;
	cursor: pointer;
}
.search-container button i {
	color: white;
}

.search-container button:hover {
	background: #b8b6b6;
}
