@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');

* {
	color: #373d3f;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
	position: relative;
	min-height: 100%;
	padding-bottom: 6rem;
}

nav {
	background: #222;
	padding: 0 15px;
}

a {
	color: white;
	text-decoration: none;
}

.logo {
	font-size: 20px;
	padding: 7.5px 10px 7.5px 0;
	gap: 1rem;
	order: 0;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo p {
	font-size: 1.5rem;
	color: white;
	font-family: 'Lucida Sans', sans-serif;
}

.item {
	height: 100%;
	width: auto;
	padding: 0px 10px 0 10px;
	order: 1;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.item.button {
	padding: 9px 5px;
	order: 2;
}

.item:not(.button) a:hover,
.item a:hover::after {
	color: #ccc;
}

.menu {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: nowrap;
	background: none;
	height: 55px;
}

.menu li a {
	display: block;
	padding: 15px 5px;
}

.menu li.subitem a {
	padding: 15px;
}

.button {
	order: 2;
}

.active .item {
	display: block;
}

.submenu-active .submenu {
	display: block;
	position: absolute;
	left: 0;
	top: 55px;
	background: #111;
	width: auto;
}

.submenu-active {
	background-color: #111;
	border-radius: 0;
}

.submenu {
	display: none;
}

.has-submenu i {
	font-size: 12px;
}

.has-submenu > a::after {
	font-family: 'Font Awesome 5 Free';
	font-size: 12px;
	line-height: 16px;
	font-weight: 900;
	content: '\f078';
	color: white;
	padding-left: 5px;
}

.subitem a {
	padding: 10px 15px;
}

.logoImg {
	width: 100%;
	height: 40px;
}

footer {
	height: 40px;
	width: 100%;
	background: #222;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: nowrap;
	gap: 10px;
	left: 0;
	bottom: 0;
	padding: 5px 10px 5px 10px;
}

footer p {
	color: white;
	margin-right: auto;
}

footer a {
	color: white;
}
